# Bot Configuration
TELEGRAM_BOT_TOKEN='ENTER YOUR BOT TOKEN HERE'

# Wallet Configuration (DO NOT include the 0x prefix, or do, it's handeled in config.ts)
# REQUIRED: Must have USDC and ETH on Base network
WALLET_PRIVATE_KEY='ENTER YOUR PRIVATE KEY HERE'
